{% extends (template) ? template : "template.html" %}
{% block content %}
	<h3>Password Reset</h3>
	
	{% if response.errors %}
		<p class="error">
		{% for i in response.errors %}{{i}}<br/>{% endfor %}
		</p>
	{% elseif response.warnings %}
		<p class="warning">
		{% for i in response.warnings %}{{i}}<br/>{% endfor %}
		</p>
	
	{% elseif response.messages %}
		<p class="message">
		{% for i in response.messages %}{{i}}<br/>{% endfor %}
		</p>
	{% endif %}
	<p>We&rsquo;ll email you instructions on how to reset your password.</p>
	{{form|raw}}
	
{% endblock %}
