{% extends (template) ? template : "template.html" %}
{% block content %}
	{% if response.errors %}
		<p class="error">
		{% for i in response.errors %}{{i}}<br/>{% endfor %}
		</p>
	{% elseif response.warnings %}
		<p class="warning">
		{% for i in response.warnings %}{{i}}<br/>{% endfor %}
		</p>
	
	{% elseif response.messages %}
		<p class="message">
		{% for i in response.messages %}{{i}}<br/>{% endfor %}
		</p>
	{% endif %}
	
	<script type="text/javascript">
		user.facebook.init();
	</script>
	{{form|raw}}
{% endblock %}
